<#import "template.ftlh" as t>
<@t.page title = "Редактирование" css = "#" js="#">
    <div class="col-md-8">
        <h1 style="text-align: center">Изменение профиля</h1>
        <h5 style="text-align: center; color: red"><#if message??>${message}</#if></h5>
        <form action="edit" method="post" enctype="multipart/form-data">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="password">Изменение пароля:</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       aria-describedby="passwordHelpBlock" required>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Пароль должен содержать от 8 до 16 символов: заглавные и строчные
                                    буквы латинского алфавита, цифры и специальные символы.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Добавьте фотографию:</label>
                                <input type="file" class="form-control-file" accept="image/jpeg, image/png" name="photo"
                                       id="exampleFormControlFile1">
                            </div>

                            <div class="form-group">
                                <label for="number">Изменение номера телефона:</label>
                                <input type="text" name="number" class="form-control" id="number"
                                       placeholder="89123456789" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm">

                            <h5>Изменение предпочтений:</h5>
                            <label>Можно ли курить в машине?</label>
                            <div class="preferences">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline3" name="smoke"
                                           class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="customRadioInline3">Да</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline4" name="smoke"
                                           class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="customRadioInline4">Нет</label>
                                </div>
                            </div>

                            <label>Имеется/Нужно ли место для багажа?</label>
                            <div class="preferences">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline5" name="luggage"
                                           class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="customRadioInline5">Да</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline6" name="luggage"
                                           class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="customRadioInline6">Нет</label>
                                </div>
                            </div>

                            <label>Можно с животными?</label>
                            <div class="preferences">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline7" name="animals"
                                           class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="customRadioInline7">Да</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline8" name="animals"
                                           class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="customRadioInline8">Нет</label>
                                </div>
                            </div>

                            <label>Любите общаться?</label>
                            <div class="preferences">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline9" name="talks"
                                           class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="customRadioInline9">Да</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline10" name="talks"
                                           class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="customRadioInline10">Нет</label>
                                </div>
                            </div>

                            <label>Любите поездки с музыкой?</label>
                            <div class="preferences">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline11" name="music"
                                           class="custom-control-input" value="true" checked>
                                    <label class="custom-control-label" for="customRadioInline11">Да</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline12" name="music"
                                           class="custom-control-input" value="false">
                                    <label class="custom-control-label" for="customRadioInline12">Нет</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary center-block">Подтвердить изменения</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</@t.page>