<#import "template.ftlh" as t>
<@t.page title = "Main" css = "css/main.css" js="#">
    <div class="col-md-9">
        <div class="overlay">
            <div class="form-row text-center">
                <div class="col-12">
                    <h3>Welcome to beep.beep.ru!</h3>
                    <p>We are glad to see you on our site. Here you can find fellow travelers <br>
                        for intercity trips across Russia</p>
                    <h4>Our advantages:</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card text-center" style="width: 14rem;">
                                    <div class="card-body">
                                        <img class="card-img-top" src="images/company.png" style="width: 5rem"
                                             alt="Card image cap">
                                        <h5 class="card-title">
                                            Comfort</h5>
                                        <p class="card-text">
                                            Selection of the car you like and fellow travelers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center" style="width: 14rem;">
                                    <div class="card-body">
                                        <img class="card-img-top" src="images/money2.png" style="width: 5rem"
                                             alt="Card image cap">
                                        <h5 class="card-title">Availability</h5>
                                        <p class="card-text">Cheaper than a taxi, more convenient than a bus</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center" style="width: 14rem;">
                                    <div class="card-body">
                                        <img class="card-img-top" src="images/safety.png" style="width: 5rem"
                                             alt="Card image cap">
                                        <h5 class="card-title">
                                            Safety</h5>
                                        <p class="card-text">
                                            Only trusted and polite drivers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</@t.page>
