<#import "template.ftlh" as t>
<@t.page title = "Registration" css="#" js="#">
    <div class="col-md-8" xmlns="http://www.w3.org/1999/html">
            <#import "spring.ftl" as spring/>
            <h1 style="text-align: center"><@spring.message 'registration.title'/></h1>
            <a href="?lang=ru_RU">ru</a>
            <a href="?lang=en_US">en</a>
            <h5 style="text-align: center; color: red"><#if message??>${message}</#if></h5>
            <@spring.bind "userForm"/>
            <form action="register" method="post" id="user">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="email"><@spring.message 'registration.email'/></label>
                                    <@spring.formInput attributes="class=form-control" path="userForm.email"/>
                                    <small id="emailHelpBlock" class="form-text text-muted">
                                        <@spring.message 'registration.email.req'/><br>
                                        <@spring.showErrors "<br>" "error"/>
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="name"><@spring.message 'registration.name'/></label>
                                    <@spring.formInput attributes="class=form-control" path="userForm.name"/>
                                    <small id="nameHelpBlock" class="form-text text-muted">
                                        <@spring.message 'registration.name.req'/><br>
                                        <@spring.showErrors "<br>" "error"/>
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="password1"><@spring.message 'registration.password'/></label>
                                    <@spring.formPasswordInput attributes="class=form-control" path="userForm.password"/>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        <@spring.message 'registration.password.req'/><br>
                                        <@spring.showErrors "<br>" "error"/>
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="number"><@spring.message 'registration.phone_number'/></label>
                                    <@spring.formInput attributes="class=form-control" path="userForm.number"/>
                                    <small><@spring.showErrors "<br>" "error"/><br></small>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="date"><@spring.message 'registration.birthday'/> </label>
                                <@spring.formInput path="userForm.birthday" attributes="class=form-control" fieldType="date"></@spring.formInput>
                                <small><@spring.showErrors "<br>" "error"/></small>

                                <h5><@spring.message 'registration.performances'/></h5>
                                <label><@spring.message 'registration.performances.smoke'/></label>
                                <div class="preferences">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="smoke"
                                        class="custom-control-input" value="true" checked>
                                        <label class="custom-control-label" for="customRadioInline3"><@spring.message 'registration.yes'/></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline4" name="smoke"
                                        class="custom-control-input" value="false">
                                        <label class="custom-control-label" for="customRadioInline4"><@spring.message 'registration.no'/></label>
                                    </div>
                                </div>

                                <label><@spring.message 'registration.performances.luggage'/></label>
                                <div class="preferences">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline5" name="luggage"
                                               class="custom-control-input" value="true" checked>
                                        <label class="custom-control-label" for="customRadioInline5"><@spring.message 'registration.yes'/></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline6" name="luggage"
                                               class="custom-control-input" value="false">
                                        <label class="custom-control-label" for="customRadioInline6">No</label>
                                    </div>
                                </div>

                                <label><@spring.message 'registration.performances.animals'/></label>
                                <div class="preferences">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline7" name="animals"
                                               class="custom-control-input" value="true" checked >
                                        <label class="custom-control-label" for="customRadioInline7"><@spring.message 'registration.yes'/></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline8" name="animals"
                                               class="custom-control-input" value="false">
                                        <label class="custom-control-label" for="customRadioInline8"><@spring.message 'registration.no'/></label>
                                    </div>
                                </div>

                                <label><@spring.message 'registration.performances.talks'/></label>
                                <div class="preferences">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline9" name="talks"
                                               class="custom-control-input" value="true" checked>
                                        <label class="custom-control-label" for="customRadioInline9"><@spring.message 'registration.yes'/></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline10" name="talks"
                                               class="custom-control-input" value="false">
                                        <label class="custom-control-label" for="customRadioInline10"><@spring.message 'registration.no'/></label>
                                    </div>
                                </div>

                                <label><@spring.message 'registration.performances.music'/></label>
                                <div class="preferences">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline11" name="music"
                                               class="custom-control-input" value="true" checked>
                                        <label class="custom-control-label" for="customRadioInline11"><@spring.message 'registration.yes'/></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline12" name="music"
                                               class="custom-control-input" value="false">
                                        <label class="custom-control-label" for="customRadioInline12"><@spring.message 'registration.no'/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary center-block"><@spring.message 'registration.sign_up'/></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</@t.page>