<#import "template.ftlh" as t>
<@t.page title = "Found trips" css="#" js="js/ajax.js">
    <div class="col-md-9" xmlns="http://www.w3.org/1999/html">
        <h1 style="text-align: center">Found trips</h1>
        <div class="overlay">
            <#if trips ??>
                <input type="hidden" id = "pointFrom" value="${from}">
                <input type="hidden" id = "pointTo" value="${to}">
                <input type="hidden" id = "date" value="${date}">
            <h4 style="text-align: center">Additional filters:</h4>
            <form>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="input-price-min" class="col-sm-4 col-form-label">Price from: </label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-input-class" id="from"
                                   min="0" placeholder="0" max="1 000 000">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-price-max" class="col-sm-2 col-form-label">To:</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-input-class" id="to"
                                   min="0" placeholder="0" max="1 000 000">
                        </div>
                    </div>

                    <div class="form-row text-center">
                        <div class="col-12">
                            <input type="button" class="btn btn-primary center-block" onclick="sendAjax()"
                                value="Apply" />
                        </div>
                    </div>
                </div>
                <br>
            </form>
            </#if>

            <h4 style="text-align: center">Results: </h4>
            <div id="result">
            <#if ! trips??><p style="text-align: center">No trips found</p>
            <#else><#list trips as trip>
                <div class="card text-center trip" id="${trip.getId()}">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="card-img-top" src="images/car.png" style="width: 5rem"
                                         alt="Card image cap">
                                </div>
                                <div class="col-md-8">
                                    <h5>Trip</h5>
                                    <div class="row">
                                        <div class="col-md">
                                            <p>
                                                <b>From: </b> ${trip.getPointFrom()}
                                                <br>
                                                <b>To: </b> ${trip.getPointTo()}
                                            </p>
                                        </div>
                                        <div class="col-md">
                                            <p>
                                                <b>Date: </b>${trip.getDate()}
                                                <br>
                                                <b>Price: </b>${trip.price}
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row text-center">
                                        <div class="col-12">
                                            <#if (trip.getCompanion1().getId() != 0) && (trip.getCompanion2().getId() != 0)>
                                            No vacant tables
                                            </#if>

                                            <form action="trip" method="get">
                                                <input type="hidden" name="id" value="${trip.id}">
                                                <input type="hidden" name="driver" value="${trip.driver.id}">
                                                <input type="hidden" name="companion1" value="${trip.companion1.id}">
                                                <input type="hidden" name="companion2" value="${trip.companion2.id}">
                                                <input type="hidden" name="pointFrom" value="${trip.pointFrom}">
                                                <input type="hidden" name="pointTo" value="${trip.pointTo}">
                                                <input type="hidden" name="date" value="${trip.date}">
                                                <input type="hidden" name="time" value="${trip.time}">
                                                <input type="hidden" name="transport" value="${trip.transport}">
                                                <input type="hidden" name="price" value="${trip.price}">
                                                <button type="submit" class="btn btn-primary center-block"
                                                        style="margin-top: 5px">
                                                    More...
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </#list>
            </#if>
            </div>
        </div>
    </div>
</@t.page>
