<html lang="ru">
<head>
    <title>LOGIN</title>
</head>
<body>
<form action="login" method="post">
    <input name="email" type="email" placeholder="Email"><br>
    <input name="password" type="password" placeholder="Password"><br>
    <input type="submit" value="LOGIN">
</form>
</body>
</html>