.col-md-9, .col-md-8, .col-md-5 {
    margin-top: 40px;
}
.d-inline-block {
    margin-right: 20px;
}
.nav-item {
    margin-right: 15px;
}
.overlay {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
}
.preferences {
    margin-bottom: 15px;
}
.btn {
    border-radius: 20px;
}
.form-control {
    margin-bottom: 10px;
}
.card {
    margin: 1rem;
}
.error {
    color: red;
}

